<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>big-red-shuttle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44929BC11DAEF4E300B07EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44929BD51DAEF4E300B07EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44929BE01DAEF4E300B07EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
